
<div class="container">
  <h2>Connexion</h2>
  <form #connexionForm="ngForm">
    <div class="form-group">
      <label for="email">Email :</label>
      <input type="text" id="email" name="email" [(ngModel)]="utilisateur.email" class="form-control" required>
    </div>
    <div class="form-group">
      <label for="psw">Mot de passe :</label>
      <input type="password" id="psw" name="psw" [(ngModel)]="utilisateur.psw" class="form-control" required>
    </div>
    <button type="button" (click)="seConnecter()" class="btn btn-primary">Se connecter</button>
  </form>
  <p *ngIf="messageErreur" class="error-message">{{ messageErreur }}</p>
  <p>Vous n'avez pas de compte? Inscrivez-vous <a routerLink="/inscription">ici</a>.</p>
</div>